#para1_input_box_1
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}



#body{

	text-align: center;

}

#b1{

	margin-left: 500;
	


}

#b1
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#b2
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

